.header {
    background-color: #112e51;
  }
  .header a {
    padding: 1em;
    color: white;
    text-decoration: none
  }
  .active-class {
    color: black
  }
  .header ul {
    display: flex;
    margin: 0 auto
  }
  
  .header li {
    padding: 1em;
  }
  
  .active, li:hover {
    background-color: #205493;
    color: white;
  }